body {
	padding-top: 50px;
	/* background-color: #e2e1e0;*/
	background-color: yellow;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
}

p {
	color: #333
}

.business-header {
	height: 100px;
	background-image: url('../bg.png');
	background-color: #AAD4FF;
}

.tagline {
	color: #fff;
	font-size: 50px;
	text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.white_shadow {
	background: #FFF;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	margin: 10px;
	border-radius: 2px;
	display: inline-block;
	margin: 1rem;
	padding: 10px;
	position: relative;
	width: 100%;
}

.img-center {
	margin: 0 auto;
}

footer {
	margin: 50px 0;
}

header {
	margin-bottom: 15px;
}

.navbar {
	background-image: url('../bg2.png');
	border-bottom: 0px;
}