*{font-family: 'Roboto', sans-serif;}
body{margin-top: 30px;background-color: #2D4571; background-image: url("images/chalkboard.jpg");}
.wfbg{background-image: url("images/chalkboard2.jpg");}

.logo{
  background-color: rgba(0, 0, 0, 0.20);
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px 15px 15px 15px;
  transition: 0.1s linear;
  height: 100px;
  padding: 5px;}

.logo:hover {background-color: #4D648D;}
.jumbotron {background-color: #2D4571;color: white;background-image: url("images/chalkboard.jpg")}

.frontborder:hover{
border: 2px solid #4D648D;
}

.frontpic{width:150px; margin-right: 10px;}

.downtext{background-color: #051838;margin-bottom: 10px; padding-left: 10px; font-size: 30px;
  border-radius: 0px 0px 5px 5px;color: #FFF;}

 a:link { color: #4D648D;text-decoration: none; transition: color 0.1s linear;}
 a:visited {color: #4D648D;text-decoration: none; transition: color 0.1s linear;}
 a:hover {color: #FFF;text-decoration: none; transition: color 0.1s linear;}
 a:active {color: #FFF;text-decoration: none; transition: color 0.1s linear;}

 .tableback{
   background-color: rgba(0, 0, 0, 0.20);
   border-radius: 15px 15px 15px 15px;
   -moz-border-radius: 15px 15px 15px 15px;
   -webkit-border-radius: 15px 15px 15px 15px;
   padding-top: 10px;
   margin-right: 10px;
   margin-bottom: 10px;
 }

.tableback  a:link{text-shadow: 1px 1px 7px rgba(0, 0, 0, 1);color: #FFF;}
.tableback a:visited {text-shadow: 1px 1px 7px rgba(0, 0, 0, 1);color: #FFF;}
.tablebacka:hover {text-shadow: 1px 1px 7px rgba(0, 0, 0, 1);color: #FFF;}
.tableback a:active {text-shadow: 1px 1px 7px rgba(0, 0, 0, 1);color: #FFF;}

.table{background-color: #FFF;}
.relic{height: 30px; margin-right: 10px;}


.panel-title a {
    display: block;
    padding: 10px 15px;
    margin: -10px -15px;
}

.wftitle{font-weight: bold; border-left: 6px solid #FFF; color: #FFF; padding: 10px; margin-top: 10px; margin-bottom: 20px;}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.hoverback{margin-top: 0px;
margin-bottom: 10px;
padding-top: 10px;
padding-bottom: 10px;
background-color: rgba(0, 0, 0, 0.20);
border-radius: 15px 15px 15px 15px;
-moz-border-radius: 15px 15px 15px 15px;
-webkit-border-radius: 15px 15px 15px 15px;}
