* {
    font-family: 'Jost', sans-serif;
}

h1 {
  color: #dcd8c0;
  font-weight: normal;
  font-size: 35pt;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  text-shadow: 0.3rem 0.3rem 0 #1c1915;
}

body {
  background-color: #d1cdb7;
  -webkit-background-size: 0.3rem 0.3rem;
  -moz-background-size: 0.3rem 0.3rem;
  background-size: 0.3rem 0.3rem;
  background-image: -webkit-linear-gradient(left, #ccc8b1 1px, rgba(204,200,177,0) 1px), -webkit-linear-gradient(top, #ccc8b1 1px, rgba(204,200,177,0) 1px);
  background-image: -moz-linear-gradient(left, #ccc8b1 1px, rgba(204,200,177,0) 1px), -moz-linear-gradient(top, #ccc8b1 1px, rgba(204,200,177,0) 1px);
  background-image: -o-linear-gradient(left, #ccc8b1 1px, rgba(204,200,177,0) 1px), -o-linear-gradient(top, #ccc8b1 1px, rgba(204,200,177,0) 1px);
  background-image: -ms-linear-gradient(left, #ccc8b1 1px, rgba(204,200,177,0) 1px), -ms-linear-gradient(top, #ccc8b1 1px, rgba(204,200,177,0) 1px);
  background-image: linear-gradient(to right, #ccc8b1 1px, rgba(204,200,177,0) 1px), linear-gradient(to bottom, #ccc8b1 1px, rgba(204,200,177,0) 1px);
  font-family: helvetica, sans-serif;
  letter-spacing: 0.03rem;
  font-weight: lighter;
  color: #454138;
}
::selection {
  background-color: #bab5a1;
}

a {
  color: inherit;
}

.jumbotron {
  padding: 2rem 2rem;
  text-align: center;
  box-shadow: inset 0px -17px 15px -15px rgba(0, 0, 0, 0.1);
  background-image: url(pattern.jpg);
  background-repeat: repeat;
  background-size: 400px 400px;
}

.line{display:block; margin:25px}
.line h1 span {position: relative; top: 22px; padding: 0 20px;}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: white;
}

.frontpic {
  border-radius: 5px;
  margin-right: 20px;
  max-height: 150px;
}

@media only screen and (max-width: 1000px) {
  .frontpic {
    max-height: 100px;
  }}

@media only screen and (max-width: 600px) {
  .frontpic {
    max-height: 25px;
  }}

.frontgal{
  margin: 10px;
  padding: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.downtext {
  background-color: #05317e;
  margin-bottom: 10px;
  padding-left: 10px;
  font-size: 30px;
  border-radius: 0px 0px 5px 5px;
  color: #FFF;
}
a:link {
  color: #454138;
  text-decoration: none;
  transition: color 0.1s linear;
}
a:visited {
  color: #454138;
  text-decoration: none;
  transition: color 0.1s linear;
}
a:hover {
  color: #fff;
  text-decoration: none;
  transition: color 0.1s linear;
}
a:active {
  color: #fff;
  text-decoration: none;
  transition: color 0.1s linear;
}
.panel-title a {
  display: block;
  padding: 10px 15px;
  margin: -10px -15px;
}

.hoverback {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.20);
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px 15px 15px 15px;
}

.img-thumbnail{padding: 0px;}






frontgal:disabled,
.frontgal-disabled {
  padding: 0.5rem;
  font-size: 1.3em;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  background-color: #dcd8c0;
  color: inherit;
  font-family: inherit;
  letter-spacing: inherit;
  font-weight: inherit;
  color: #bab5a1;
  cursor: not-allowed;
}
frontgal:not(:disabled),
.frontgal {
  padding: 0.5rem;
  font-size: 1.3em;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  background-color: #bab5a1;
  color: inherit;
  font-family: inherit;
  letter-spacing: inherit;
  font-weight: inherit;
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: color, background-color, box-shadow;
  -moz-transition-property: color, background-color, box-shadow;
  -o-transition-property: color, background-color, box-shadow;
  -ms-transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow;
  position: relative;
  z-index: 1;
}
frontgal:not(:disabled):hover,
.frontgal:hover {
  -webkit-box-shadow: 0.2em 0.2em 0.1em 0 #bab5a1;
  box-shadow: 0.2em 0.2em 0.1em 0 #bab5a1;
}
frontgal:not(:disabled):before,
.frontgal:before {
  content: '';
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
frontgal:not(:disabled):after,
.frontgal:after {
  content: '';
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  background-color: #454138;
  z-index: -1;
}
frontgal:not(:disabled):hover,
.frontgal:hover {
  background-color: transparent;
  color: #dcd8c0;
}
frontgal:not(:disabled):hover:before,
.frontgal:hover:before {
  top: -0.2rem;
  bottom: -0.2rem;
  border: solid #454138;
  border-width: 0.1rem 0;
}
frontgal:not(:disabled):hover:after,
.frontgal:hover:after {
  width: 100%;
}
frontgal:not(:disabled):active,
.frontgal:active {
  color: #454138;
}
frontgal:not(:disabled):active:after,
.frontgal:active:after {
  background-color: #dcd8c0;
}
::-webkit-input-placeholder,
::-moz-placeholder,
::-ms-input-placeholder {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  color: #bab5a1;
  font-weight: lighter;
}