*{
    font-family: 'Roboto', sans-serif;
}


/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 2rem;
}

.jumbotron {
  background-image: -moz-linear-gradient( 165deg, rgb(5,84,173) 5%, rgb(32,112,168) 94%);
  background-image: -webkit-linear-gradient( 165deg, rgb(5,84,173) 5%, rgb(32,112,168) 94%);
  background-image: -ms-linear-gradient( 165deg, rgb(5,84,173) 5%, rgb(32,112,168) 94%);
	color: white;
}

.navbar-blue{
    background-image: -moz-linear-gradient( 165deg, rgb(5,84,173) 5%, rgb(32,112,168) 94%);
    background-image: -webkit-linear-gradient( 165deg, rgb(5,84,173) 5%, rgb(32,112,168) 94%);
    background-image: -ms-linear-gradient( 165deg, rgb(5,84,173) 5%, rgb(32,112,168) 94%);
}
.navlink{
  color: rgb(255, 255, 255) !important;
}

.navbar-brand{
  font-size: 25px;
  background-color: rgb(0, 174, 239);
  border-radius: 5px;
  padding: 5px;
  font-weight: bolder;
}

.widewrapper {
  width:100%;
  }

.widewrapper > img {
  width:100%;
}

.grey{
    background-color: rgb(40, 40, 40);
}

.minblue{
    border-bottom:10px solid rgb(0, 113, 197);}
.smallimg{width: 30px; height: 30px; margin-right: 5px;}
.bordernvid{
  border-width: 2px;
  border-color: rgb(118, 184, 0);
  border-style: solid;
  background-color: rgb(255, 255, 255);
  color: black;
}
.borderamd{
    border-width: 2px;
    border-color: rgb(218, 26, 33);
    border-style: solid;
    background-color: rgb(255, 255, 255);
      color: black;
}
.borderintel{
    border-width: 2px;
    border-color: rgb(0, 113, 197);
    border-style: solid;
    background-color: rgb(255, 255, 255);
      color: black;
}
.tabletitle{margin-top: 5px;
font-weight: bold;}

.whiteback{background-color: rgb(20, 20, 20);color: white; border-radius: 20px 20px 0px 0px;padding-top: 10px; border-width: 2px; border-color: rgb(0, 113, 197,0.5); border-style: solid;}
.gametoptext{text-shadow: 0px 1px 7px rgba(0, 0, 0, 1); font-weight: bold; text-align: center;  font-size: 3.5rem}

body {
    background: url('images/ss_191403578a0fab7577148cfc1ac34e4e2b1bde79.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.jumbotron {
  height: 350px;
  width: 100%;
  color: white;
  text-shadow: #444 0 1px 1px;
  background:transparent;
  top:0;
}

#main {
  margin-top:350px;
  position:relative;
  background:#fff;
}
