.card-header-gen{
  background-image: url(ep_naturalwhite.png);
  border:#203A43 1px solid;
  color:#203A43;
}

.card-header-gen:hover{
  background-image: url(ep_naturalblack.png);
  border:#203A43 1px solid;
  color:#ffffff;
}


h5 img{max-height: 70px !important;}


.btn-primary{margin-bottom: 5px;}

.navbar{
  background: #0F2027;
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
}

.card{height: 300px;}

body{background-image: url(ep_naturalwhite.png);}