*{font-family: 'Open Sans', sans-serif;}
.jumbotron {padding: 2rem 2rem;}

.coloursquare{width: 100px; height: 100px; color: rgba(255, 255, 255, 0.5); text-align: center; border-radius: 5px; transition: all 0.1s ease;}
.coloursquare:before{color: white; text-align: center; border-radius: 5px;}
.coloursquare:hover{color: rgba(255, 255, 255, 1); box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);}

.bannerimg{max-width:100px; height: 30px; margin-right: 10px;border-radius: 5px; margin-top: -5px;}
.ctext{padding-left: 1px; color: gray;}

.tubeBakerloo{background-color: #B36305;}
.tubeCentral{background-color: #E32017;}
.tubeCircle{background-color: #FFD300;}
.tubeDistrict{background-color: #00782A;}
.tubeDLR{background-color: #00A4A7;}
.tubeHammersmithandCity{background-color: #F3A9BB;}
.tubeJubilee{background-color: #A0A5A9;}
.tubeMetropolitan{background-color: #9B0056;}
.tubeNorthern{background-color: #000000;}
.tubeOverground{background-color: #EE7C0E;}
.tubePiccadilly{background-color: #003688;}
.tubeTramlink{background-color: #84B817;}
.tubeVictoria{background-color: #0098D4;}
.tubeWaterlooandCity{background-color: #95CDBA;}
.tubeElizabeth{background-color: #753BBD;}

.nycsubACE{background-color: #0039A6;}
.nycsubBDFM{background-color: #FF6319;}
.nycsubG{background-color: #6CBE45;}
.nycsubJZ{background-color: #996633;}
.nycsubL{background-color: #A7A9AC;}
.nycsubNQR{background-color: #FCCC0A;}
.nycsubS{background-color: #808183;}
.nycsub123{background-color: #EE352E;}
.nycsub456{background-color:#00933C ;}
.nycsub7{background-color:#B933AD ;}


.longisBabylonBranch{background-color:#00985F;}
.longisCityTerminalZone{background-color:#4D5357;}
.longisFarRockawayBranch{background-color:#6E3219;}
.longisCityTerminalZone{background-color:#4D5357;}
.longisFarRockawayBranch{background-color:#6E3219;}
.longisHempsteadBranch{background-color:#CE8E00;}
.longisLongBeachBranch{background-color:#FF6319;}
.longisMontaukBranch{background-color:#006983;}
.longisOysterBayBranch{background-color:#00AF3F;}
.longisPortJeffersonBranch{background-color:#0039A6;}
.longisPortWashingtonBranch{background-color:#C60C30;}
.longisRonkonkomaBranch{background-color:#A626AA;}
.longisWestHempsteadBranch{background-color:#00A1DE;}

.paris1{background-color:#ffcd00;}
.paris2{background-color:#003ca6;}
.paris3{background-color:#837902;}
.paris3bis{background-color:#6ec4e8;}
.paris4{background-color:#cf009e;}
.paris5{background-color:#ff7e2e;}
.paris6{background-color:#6eca97;}
.paris7{background-color:#fa9aba;}
.paris7bis{background-color:#6eca97;}
.paris8{background-color:#e19bdf;}
.paris9{background-color:#b6bd00;}
.paris10{background-color:#c9910d;}
.paris11{background-color:#704b1c;}
.paris12{background-color:#007852;}
.paris13{background-color:#6ec4e8;}
.paris14{background-color:#62259d;}
.paris15{background-color:#a90f32;}
.paris16{background-color:#427b7b;}
.paris17{background-color:#ec7cae;}
.paris18{background-color:#95bf32;}

.googlered{background-color: #db3236;}
.googleblue{background-color: #4885ed;}
.googleyellow{background-color: #f4c20d;}
.googlegreen{background-color: #3cba54;}

.Microred{background-color: #F65314;}
.Microblue{background-color: #00A1F1;}
.Microyellow{background-color: #FFBB00;}
.Microgreen{background-color: #7CBB00;}

.SpotifyGreen{background-color: #1ED760;}

.Discordblue{background-color: #7289DA;}
